/*-------------------------------------------------------------------

  THESE ARE BASE STYLES AND DIVs ELEMENT5 USES THROUGHOUT OUR SITES. 
  DO NOT REMOVE OR EDIT THIS FILE.
  ADD YOUR OWN CSS FILE INTO THE HEADER.PHP TO OVERIDE STYLES.
  REMEMBER TO YOUR MINIFIED VERSION OF YOUR NEW CSS FILES

  1.  BASICS
  2.  HEADER
  3.  FOOTER
  4.  PAGE TEMPLATES
  5.  STYLEGUIDE
  6.  RESPONSIVNESS BREAKING POINTS

-----------------------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------------BASICS--*/

html,
body {
    font-size: 16px;
    margin: 0 !important;
    padding: 1px 0 0 0 !important;
}

body:before,
body:after {
    display: none !important;
}

* {
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out 0s;
    transition: all .25s ease-in-out 0s;
}

section {
    position: relative;
}


/*-----------------------------HEADINGS--*/

h1,
h2,
h3,
h4,
h5,
h6 .widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
    margin: 1.5em 0 1.25em 0;
    padding: 0;
}


/*----------------------TEXT FORMATTING--*/

p,
a,
ol,
ul {
    font-size: 1em;
    line-height: 1.38;
    margin: 0 0 1.25em 0;
    padding: 0;
    word-wrap: break-word;
}

a {
    margin: 0;
}

ul li {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0 0 0 20px;
}

ol li {
    margin-left: 20px;
}

hr {
    background: #000;
    height: 2px;
    margin: .75em 0;
    width: 100%;
}

blockquote,
q {
    background-repeat: no-repeat;
    background-position: center left 10px;
    background-size: 50px auto;
    border: none;
    padding: 15px 25px 15px 75px;
    quotes: none;
    margin: 25px 0;
}

blockquote p,
q p {
    font-size: 1.125em;
}

blockquote p:last-child,
q p:last-child {
    margin: 0;
}


/*--------------------------NAVIGATIONS--*/

nav ul {
    margin: 0;
}

nav li {
    background-image: none !important;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav li a {
    background-color: transparent;
    display: block;
    padding: 0 25px 0 4px;
    text-decoration: none;
}


/*--------------------------------FORMS--*/

button,
button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

form ul li {
    background-image: none !important;
    padding: 0;
}

form input,
form input:focus,
form select,
form select:focus,
form textarea,
form textarea:focus {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d3d3d3;
    outline: none;
}

input[type="radio"] {
    background: #d3d3d3;
    border-radius: 50%;
    height: 14px;
    min-width: 14px;
}

input[type="radio"]:checked {
    background-color: #6eaa48;
    border-color: #6eaa48;
}

input[type="checkbox"] {
    background: #d3d3d3;
    border-radius: 3px;
    height: 14px;
    min-width: 14px;
}

form input[type="checkbox"]:checked {
    background-color: #6eaa48;
    border-color: #6eaa48;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: inherit !important;
}

input[type="submit"],
button.search-submit {
    background: #000;
    border-radius: 8px;
    border: 2px solid #000;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    margin: 0 10px 0 0;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning,
.gform_wrapper li.gfield.gfield_error {
    background: transparent !important;
    border: none !important;
    padding: 0 16px 0 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin-top: 8px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome .gfield_error select,
.gform_wrapper.gf_browser_chrome .gfield_error textarea,
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    display: none;
}

.gform_wrapper .gfield_error .gfield_label {
    color: inherit !important;
}

.LV_invalid_field {
    border-color: #c14e3d;
}

.LV_valid_field {
    border-color: #6eaa48;
}


/*--------------------RESPONSIVE SIZING--*/

.full-width {
    width: 100%;
}

.max-width {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}

.one-half {
    float: left;
    margin: 0 1%;
    width: 48%;
}

.one-half-full {
    float: left;
    width: 50%;
}

.one-third {
    float: left;
    margin: 0 1%;
    width: 31.33%;
}

.one-third-full {
    float: left;
    width: 33.33%;
}

.two-third {
    float: left;
    margin: 0 1%;
    width: 64.66%;
}

.two-third-full {
    float: left;
    width: 66.66%;
}

.one-fourth {
    float: left;
    margin: 0 1%;
    width: 23%;
}

.one-fourth-full {
    float: left;
    width: 25%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.vertical-align-parent {
    display: table;
}

.vertical-align-child {
    display: table-cell;
    vertical-align: middle;
}


/*--------------------------SHORT CODES--*/

.legal-text {
    color: #a8a8a8;
    font-size: .75em;
}

.primary-button {
    background: #000;
    border-radius: 8px;
    border: 2px solid #000;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    margin: 0 10px 0 0;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.secondary-button {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    font-weight: 800;
    margin: 0 10px 0 0;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.primary-button.arrow,
.secondary-button.arrow {
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: 10px 50px 10px 10px;
}


/*--------------------------COMMON DIVS--*/

.dark-bg {
    background: #3f3f3f;
}

.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6,
.dark-bg p,
.dark-bg a,
.dark-bg .secondary-button {
    border-color: #fff;
    color: #fff;
}

.social-link {
    background-color: #d3d3d3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 50px;
    display: inline-block;
    height: 100px;
    width: 100px;
}


/*-------------------------------------------------------HEADER--*/

.main-nav {
    margin-top: -2px;
    padding: 20px;
    z-index: 10000;
}

.main-nav.is_stuck {
    padding: 10px;
}

.main-nav #nav-logo {
    vertical-align: middle;
}

.main-nav h2 {
    float: right;
    line-height: 60px;
    margin: 0;
}

.main-nav nav {
    float: right;
}

.main-nav nav a {
    line-height: 60px;
}


/*-------------------------------------------------------FOOTER--*/

footer#footer {
    padding: 20px 0;
}

footer#footer #copyright {
    float: left;
    line-height: 43px;
    margin: 0;
}

footer#footer #created-e5 {
    float: right;
    text-decoration: none;
}

footer#footer #created-e5 p {
    margin: 0;
}

footer#footer #created-e5 img {
    vertical-align: middle;
}


/*-----------------------------------------------PAGE TEMPLATES--*/

.page-contents img.alignleft {
    float: left;
    margin: 0 1.5em .75em 0;
}

.page-contents img.alignright {
    float: right;
    margin: 0 0 .75em 1.5em;
}

.page-contents img.aligncenter {
    display: block;
    margin: 1.5em auto;
}


/*-----------------------------SIDEBARS--*/

.sidebar {
    width: 250px;
}

.sidebar.right {
    float: right;
    margin-left: 50px;
}

.sidebar-page-contents {
    float: left;
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
}

.sidebar-page-contents.right {
    float: right;
    margin-left: 50px;
}


/*---------------------------------------------------STYLEGUIDE--*/

#styleguide-sidebar {
    float: left;
}

#styleguide-sidebar nav li {
    display: block;
    margin-bottom: 8px;
}

#styleguide-sidebar nav li a {
    padding: 8px 8px 8px 16px;
    width: 100%;
}

.styleguide-container {
    padding-top: 25px;
    position: relative;
}

.styleguide-section {
    margin-top: 200px;
    position: relative;
}

.styleguide-section:first-child {
    margin-top: 0;
}

.styleguide-section h2 {
    margin-bottom: 50px;
}

.styleguide-sub-section {
    position: relative;
    width: 100%;
}

.styleguide-sub-section h3 {
    margin-top: 50px;
}

.styleguide-anchor {
    height: 10px;
    position: absolute;
    top: -125px;
    width: 200px;
}

.sub-section-nav {
    padding: 0 0 4px 0;
}

.logo-section h2 {
    margin-top: 0;
}

.primary-logo .full-width {
    border: 1px solid #dedede;
    padding: 50px;
    text-align: center;
}

.primary-logo .full-width img {
    max-width: 75%;
}

.varient-image {
    border: 1px solid #dedede;
    height: 350px;
    padding: 10px;
    width: 100%;
}

.varient-image .vertical-align-content {
    text-align: center;
}

.varient-image .vertical-align-content img {
    max-height: 100%;
    max-width: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .varient-image .vertical-align-content img {
        width: 100%;
    }
}

.varient-description {
    border-top: none;
    border: 1px solid #dedede;
    display: table;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.varient-description p {
    margin: 0;
}

.primary-colors .one-fourth,
.secondary-colors .one-fourth {
    margin-bottom: 20px;
}

.primary-colors .one-fourth .color-swatch,
.secondary-colors .one-fourth .color-swatch {
    border-bottom: 0;
    border: 1px solid #dedede;
    height: 125px;
    margin: 0;
    width: 100%;
}

.primary-colors .one-fourth .color-swatch-details,
.secondary-colors .one-fourth .color-swatch-details {
    border: 1px solid #dedede;
    padding: 10px;
}

.primary-colors .one-fourth p,
.secondary-colors .one-fourth p {
    margin-bottom: 4px;
}

.typeface .one-fourth {
    border: 1px solid #dedede;
    height: 130px;
    margin-bottom: 20px;
    text-align: center;
}

.typeface .one-fourth p {
    margin-bottom: 8px;
}

.headline-option {
    border-top: 2px solid #dedede;
    border-top: 2px solid #dedede;
    padding: 25px 8px;
}

.headline-option h1,
.headline-option h2,
.headline-option h3,
.headline-option h4,
.headline-option h5,
.headline-option h6,
.headline-option p,
.headline-option .primary-button,
.headline-option .secondary-button {
    background: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.p-buttons .button-continer,
.s-buttons .button-continer {
    padding: 25px;
}

.desktop img,
.mobile img {
    max-width: 100%;
}

.icons-container .one-fourth {
    border: 1px solid #e1e1e1;
    display: table;
    height: 175px;
    margin-bottom: 16px;
    padding: 10px;
}

.icons-container .icon-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.icons-container img {
    height: auto;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.patterns-container .full-width {
    border: 1px solid #e1e1e1;
    display: table;
    margin-bottom: 16px;
    padding: 10px;
}

.icons-container .pattern-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.patterns-container img {
    height: auto;
    width: 100%;
}


/*----------------------------------------------------404 ERROR--*/

.error-option {
    margin: 0 auto;
    max-width: 600px;
    padding: 75px 10px;
    text-align: center;
}

svg.error-icon {
    width: 200px;
}

.error-option form.search-form label span.screen-reader-text {
    display: none;
}

.error-option form input.search-field {
    border-radius: 8px;
    padding: 16px;
    width: -webkit-calc(100% - 145px);
    width: calc(100% - 145px);
}

.error-option form button.search-submit {
    vertical-align: top;
}

#error-option-404 h1 {
    font-size: 250px;
    line-height: 1;
    margin: 0;
}

#error-option-search h2 {
    font-size: 50px;
    margin: 0 0 20px 0;
}

#error-option-awkward h2 {
    font-size: 80px;
    line-height: 90px;
    margin: 0;
    text-transform: uppercase;
}

#error-option-awkward h2 span {
    font-size: 105px;
}

#error-option-pacman svg.error-icon {
    fill: #fe2601;
}

#error-option-pacman span.error {
    font-size: 250px;
    line-height: 1;
}

#error-option-pacman h2 {
    font-size: 100px;
    margin: 0;
    text-transform: uppercase;
}

#error-option-lost h2 {
    font-size: 75px;
    line-height: .85;
    margin: 0 0 20px 0;
}

#error-option-starwars svg.error-icon {
    color: #000;
}

#error-option-starwars h2 {
    font-size: 35px;
    line-height: 70px;
    margin: 0;
}

#error-option-starwars h2 span {
    font-size: 45px;
}

#error-option-starwars p {
    margin: 20px 0 0 0;
}


/*--------------------------------RESPONSIVNESS BREAKING POINTS--*/


/*----------- SMALL DESKTOPS & LAPTOPS --*/

@media only screen and (max-width: 1200px) {}


/*------------------ LANDSCAPE TABLETS --*/

@media only screen and (max-width: 1024px) {
    /*--STYLEGUIDE--*/
    .varient-description {
        height: 200PX;
    }
    .color-swatch-details p:first-child {
        height: 50px;
    }
}


/*------------------- PORTRAIT TABLETS --*/

@media only screen and (max-width: 800px) {
    /*--BASICS--*/
    .one-fourth {
        width: 48%;
    }
    .one-fourth-full {
        width: 50%;
    }
    /*--PAGE TEMPLATES--*/
    .csColumn {
        text-align: left !important;
    }
    /*--PAGE SPECIFIC--*/
    /*STYLEGUIDE*/
    .styleguide-container .one-half {
        width: 100%;
    }
    .varient-description {
        height: auto;
    }
    .color-swatch-details p:first-child {
        height: auto;
    }
    .sub-section-nav li {
        padding: 20px 0;
    }
    .button-continer .primary-button,
    .button-continer .secondary-button {
        margin-bottom: 20px;
    }
    #styleguide-sidebar {
        width: 150px;
    }
    #styleguide-contents {
        width: -webkit-calc(100% - 200px);
        width: calc(100% - 200px)
    }
}


/*------------------- LANDSCAPE PHONES --*/

@media only screen and (max-width: 700px) {
    /*--BASICS--*/
    .one-half,
    .one-third,
    .two-third,
    .one-fourth,
    .one-half-full,
    .one-third-full,
    .two-third-full,
    .one-fourth-full {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    /*--PAGE TEMPLATES--*/
    .page-contents img.alignleft,
    .page-contents img.alignright,
    .page-contents img.aligncenter {
        float: none;
        height: auto;
        margin: .75em auto;
        width: 100%;
    }
    .sidebar,
    #styleguide-sidebar {
        margin: 50px 0;
        position: initial !important;
        width: 100%;
    }
    .sidebar-page-contents,
    #styleguide-contents {
        width: 100%;
    }
    /*--PAGE SPECIFIC--*/
    /*STYLEGUIDE*/
    #styleguide-sidebar nav {
        text-align: center;
    }
    #styleguide-sidebar nav li {
        display: inline-block;
    }
    #styleguide-sidebar nav li a {
        background: #d3d3d3;
        border-radius: 8px;
        border: 2px solid #d3d3d3;
        display: inline-block;
        font-weight: 800;
        margin: 0 0 0 0;
        padding: 3px 5px;
        text-decoration: none;
        text-transform: uppercase;
    }
}


/*-------------------- PORTRAIT PHONES --*/

@media only screen and (max-width: 500px) {}