/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800');

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	overflow-x: hidden;
}

/*MAIN NAV | PRIMARY NAV | UTILITY NAV*/

.mobile-nav {
	display: none;
}

.main-nav,
.main-nav.is_stuck {
	padding: 0;

}

.page-id-45 .primary-nav {
	padding: 20px 0;
}

.page-id-45 .primary-nav #nav-logo {
	height: 85px;
	margin: 0;
	padding: 0;
}

.main-nav nav li {
	margin: 0;
}

.primary-nav {
	padding: 10px 20px 0 20px;
	position: relative;
	border-bottom: 1px solid #d8d8d8;
	background-color: rgba(4, 2, 3, 0.99);
	z-index: 1;
}

.product-categories-mobile.electronics-products {
	display: none;
}

.product-categories-selected {
	display: none;
}

.primary-nav a {
	font-size: 0.875em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px 4px;
	height: 75px;
}

.primary-nav .menu li.current_page_item a {
	color: #ffffff;
	border-bottom: 3px solid #24bb8c;
}

.primary-nav .menu li a:hover {
	color: #24bb8c;
	border-bottom: 3px solid #24bb8c;
}

.primary-nav #nav-logo {
	height: 110px;
	width: auto;
	margin-top: -42px;
	margin-left: 20px;
	background-color: #060405;
	padding-top: 8px;
	border-radius: 50% 50% 0 0;
}

.main-nav .primary-nav #sticky-nav-logo,
.mobile-nav .primary-nav #sticky-nav-logo,
.mobile-nav .mobile-phone-link-stuck,
.mobile-nav .mobile-menu-link-stuck {
	display: none;
}

.main-nav.is_stuck .primary-nav #nav-logo,
.mobile-nav.is_stuck .primary-nav #nav-logo,
.mobile-nav.is_stuck .mobile-phone-link,
.mobile-nav.is_stuck .mobile-menu-link {
	display: none;
}

.main-nav.is_stuck .primary-nav #sticky-nav-logo {
	display: inline-block;
	height: 28px;
	width: auto;
	margin-top: 10px;
}

.main-nav.is_stuck nav a {
	line-height: 40px;
}

.utility-nav {
	text-align: center;
	background-color: #efefef;
	height: 50px;
}

.utility-nav .phone-link {
	padding-top: 5px;
	position: relative;
	left: 230px;
}

.utility-nav .phone-link #phone-image {
	vertical-align: middle;
	padding: 17px 7px 14px 0px;
}

.utility-nav .phone-link a,
.utility-nav .mobile-phone-link a {
	color: #040203;
	font-size: 0.875em;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

.utility-nav img {
	width: auto;
}

.utility-nav img#nav-logo {
	float: left;
	position: relative;
	left: 329px;
	padding-top: 18px;
}

.utility-nav .social-links {
	float: right;
	padding-top: 15px;
	position: relative;
	right: 120px;
}

.utility-nav .social-links a {
	background-size: contain;
	background-color: transparent;
	height: 20px;
	padding: 0;
	width: 20px;
}

.utility-nav .social-links .facebook {
	margin-right: 15px
}

.utility-nav .social-links .twitter {
	margin-right: 18px;
}

.utility-nav .social-links .linkedin {
	margin-right: 20px;
}

.utility-nav .search {
	float: right;
	padding-top: 17px;
	position: relative;
	right: -20px;
	opacity: 0;
}

.utility-nav .country-select {
	float: right;
	position: relative;
	left: 137px;
}

.utility-nav .country-select a {
	color: #040203;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #e2e2e2;
	text-decoration: none;
	padding-left: 18px;
	padding-right: 16px;
	padding-bottom: 22px;
	padding-top: 20px;
}

.utility-nav .country-select a img#flag-image {
	margin-right: 11px;
	position: relative;
	top: 10px;
}

.utility-nav .country-select a::after {
	content: '';
	background-image: url('/wp-content/themes/AGM/img/country-select-arrow.png');
	position: absolute;
	width: 7px;
	height: 4px;
	top: 33px;
	right: 31px;
}

header .search-bar {
	background-color: #efefef;
	padding: 22px 0;
	position: absolute;
	top: -150px;
	width: 100%;
}

.search-bar.show {
	position: fixed;
	top: 0;
	z-index: 20000;
}

.search-bar form {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

.search-bar .screen-reader-text {
	display: none;
}

.search-bar form input {
	border: none;
	height: 45px;
	padding: 0 8px;
	width: 80%;
	-webkit-appearance: none;
	font-size: 1.5em;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.search-bar .search-form label {
	width: 75%;
}

.search-bar form button .screen-reader-text {
	display: block;
}

.search-bar form button {
	background-image: linear-gradient(to right, #0ec496 0%, #0da981 100%);
	border-radius: 100px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	font-family: 'Montserrat', sans-serif;
	margin-left: 10px;
}

.search-bar form button:hover {
	background: #3a7b89;
	cursor: pointer;
	transition: all .25s ease-in-out 0s;
	-webkit-transition: all .25s ease-in-out 0s;
}

.search-bar #close-bar img {
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: 8%;
	top: 40%;
	width: 25px;
}

.search-bar-close {
	display: none;
}

.search-bar-show {
	display: block;
}

a.anchor {
	position: absolute;
	top: -80px;
	width: 1px;
	height: 1px;
}

/*PAGE TOP*/
.page-heading {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.page-heading::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.28);
}

.page-heading .vertical-align-parent video {
	position: absolute;
	z-index: 1;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
}

.page-heading .video-wrap {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -105px;
}

.page-heading .video-wrap video {
	height: auto;
	min-height: 100%;
	min-width: 100%;
	width: auto;
}

@media(max-width: 1900px) {
	.home .page-heading .video-wrap video {
		position: absolute;
		left: 50%;
		margin-left: -960px;
	}
}

.page-id-1615 .page-heading .vertical-align-child,
.page-id-2315 .page-heading .vertical-align-child {
	z-index: 2;
	background: rgba(0, 0, 0, .4);
}

.page-id-1615 .page-heading .video-wrap,
.page-id-2315 .page-heading .video-wrap {
	top: -50%;
}

.page-heading .vertical-align-child {
	position: relative;
}

.page-heading h1 {
	margin: 0 auto;
	max-width: 920px;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.home .page-heading h1 {
	margin-top: 2em;
}

.home-bottom {
	padding-top: 4%;
}

.home-bottom-left,
.home-bottom-right {
	display: inline-block;
	max-width: 600px;
	float: left;
	text-align: center;
}

.home-bottom-left {
	float: right;
}

.home-bottom img {
	position: absolute;
	height: auto;
	width: 50px;
	top: -25px;
	right: 275px;
}

.home-bottom .one-half:last-child img {
	right: 0;
	left: 275px;
}

.page-heading .home-bottom p {
	font-size: 1em;
	line-height: 22px;
	padding: 0 25px;
}

.home .page-heading .one-half {
	margin: 0;
	position: relative;
	width: 50%;
	padding: 3% 0;
	border-right: 1px solid #979797;
}

.home .page-heading .one-half:last-child {
	border-right: none;
	border-left: 1px solid #979797;
}

.home .page-heading .one-half::before,
.home .page-heading .one-half::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: calc(100% - 348px);
	background-color: #979797;
}

.home .page-heading .one-half::after {
	left: auto;
	right: 0;
	width: 252px;
}

.home .page-heading .one-half:last-child::before {
	width: 252px;
}

.home .page-heading .one-half:last-child::after {
	width: calc(100% - 348px);
}


@keyframes progress1 {
	0% {
		transform: scalex(0);
		opacity: .5;
	}

	100% {
		transform: scalex(1);
		opacity: 1;
	}
}

@keyframes progress2 {
	0% {
		transform: scale(.3, .8) translatex(50px) translatez(0);
		opacity: 0;
	}

	100% {
		transform: scale(1, 1) translatex(300px) translatez(0);
		opacity: 1;
	}
}

.line {
	position: relative;
	top: 58%;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 3px;
	background: rgba(126, 183, 213, .1);
}

.line::before {
	animation: progress1 4.5s 1;
	transform-origin: 0 0;
	content: "";
	display: block;
	width: 300px;
	height: 100%;
	background: linear-gradient(to right, rgba(126, 183, 213, 0.1) 10%, rgba(126, 183, 213, 0.4) 80%, rgba(126, 183, 213, 1));
}

.line::after {
	content: "";
	transform: translatex(300px);
	position: absolute;
	animation: progress2 4s 1;
	transform-origin: 90% 50%;
	margin-left: -20px;
	top: -9px;
	width: 30px;
	height: 21px;
	border-radius: 2px;
	background: rgba(126, 183, 213, .55);
	filter: blur(8px);
	box-shadow: 0 0 10px 6px rgba(126, 183, 213, .4),
		-20px 0 15px 4px rgba(126, 183, 213, .3),
		-40px 0 15px 2px rgba(126, 183, 213, .2),
		-60px 0 10px 1px rgba(126, 183, 213, .1),
		-80px 0 10px 1px rgba(126, 183, 213, .05);
}

.page-heading p {
	font-size: 1.5em;
	color: #fff;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
}

.page-heading p a {
	color: #fff;
}

a.glow {
	position: relative;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #7eb7d5;
	border-radius: 100px;
	box-shadow: 0 0px 20px #7eb7d5;
	background-image: linear-gradient(180deg, #303239 0%, #000000 100%);
	margin: 0 auto;
	display: block;
	text-align: center;
	height: 47px;
	width: 218px;
	padding-top: 13px;
	margin-top: 60px;
	margin-bottom: 130px;
	cursor: pointer;
	transition: box-shadow .15s ease-in-out, height .2s ease-in-out, border-radius .2s ease-in-out, padding .3s ease-in-out, transform .2s ease-in-out;
}

a.glow:hover {
	box-shadow: 0 0px 50px #7eb7d5;
}

a.glow:focus {
	outline: 0;
	outline: none;
}

a.glow:active {
	transform: scale(.85, .85);
}

.page-heading a::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 150%;
	width: 34px;
	height: 34px;
	margin-left: -17px;
	background-image: url(../img/down-arrow-homepage.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: floating 1.5s linear infinite;
	-webkit-animation: floating 1.5s linear infinite;
}

/*SLICK SLIDERS*/
.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
	background: red;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
	z-index: 10;
}

.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
	left: 0;
	right: auto;
}

.slick-next:hover,
.slick-prev:hover {
	opacity: 1 !important;
}

/*LOGO SLIDER*/
.turquoise-overlay::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background-color: rgba(58, 123, 137, 0.71);
}

.logo-slider {
	background-image: url('https://e5agm.wpengine.com/wp-content/themes/AGM/img/partner-slider-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 283px;
	position: relative;
}

.logo-slider .slick-prev,
.logo-slider .slick-next {
	opacity: 0;
	width: 47px;
	height: 40px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.logo-slider .slick-prev {
	background-image: url(../img/previous-arrow-white.png);
	left: -5%;
}

.logo-slider .slick-next {
	background-image: url(../img/next-arrow-white.png);
	right: -5%;
}

.logo-slider .slick-prev:hover,
.logo-slider .slick-next:hover {
	opacity: 1;
}

.logo-slider .slick-list {
	padding: 105px 0 !important;
}

.logo-slider:hover .slick-prev,
.logo-slider:hover .slick-next {
	opacity: .5;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

.logo-slider,
.logo-slider * {
	transition: none;
}

.logo-slide {}

.logo-slide img {
	height: 75px;
	width: auto;
	margin: 0 auto;
	max-width: 95%;
}

/*PAGE FOOTER*/
footer {
	background-image: url(../img/footer-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

footer::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background-color: rgba(4, 2, 3, 0.36);
}

footer div {
	position: relative;
}

footer a,
footer p,
footer nav a {
	color: #fff;
}

footer .footer-logo,
.footer-sub-text {
	text-align: center;
}

.footer-logo img {
	height: 74px;
	width: auto;
	margin-top: 90px;
	margin-left: 40px;
	margin-right: 40px;
}

.footer-sub-text {
	margin-top: 50px;
	font-size: 1em;
	max-width: 740px;
}

footer nav {
	margin-top: 57px;
}

footer nav a {
	font-size: 0.875em;
	text-transform: uppercase;
	padding: 0;
}

#menu-footer-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

footer nav a:hover {
	color: #24bb8c;
	cursor: pointer;
}

footer nav li {
	width: 19%;
	padding-left: 0;
}

footer .footer-social {
	max-width: 20%;
	display: inline-block;
	margin-top: 57px;
}

footer .footer-social li {
	display: inline-block;
	background-color: #24bb8c;
	height: 46px;
	width: 46px;
	margin-right: 6px;
	padding-left: 12px;
	list-style: none;
	background-image: none;
}

footer .footer-social li img {
	height: 22px;
	width: auto;
	margin-top: 11px;
}

#facebook-footer {
	padding-left: 8px;
}

.page-bottom {
	margin-top: 35px;
	border-top: 1px solid #ffffff;
}

#copyright,
#created-e5 {
	padding-top: 20px;
}

.page-bottom a {
	text-decoration: none;
}

.page-bottom a:hover {
	color: #24bb8c;
	cursor: pointer;
}

/*PAGE CONTENT*/
.gallery .gallery-icon img {
	border: none !important;
}

main {
	background-color: #f6f6f6;
}

.lbg-style1 .lc {
	color: #000;
	position: relative;
	right: -90%;
}

.watch-action {
	width: 50%;
	float: right;
	position: absolute;
	top: 2%;
	right: 15%;
	height: 20px;
}

.watch-action .status {
	display: none !important;
}

/* ABOUT PAGE */
.page-id-2315 .page-contents h2.max-width {
	margin: 0 auto;
	padding-top: 50px;
}

.page-id-2315 .page-contents p {
	max-width: 700px;
	margin: 0 auto;
	color: #000c3b;
	margin-top: 30px;
	padding-bottom: 20px;
}

.page-id-2315 .cert-image,
.search .cert-image {
	height: auto;
	background-color: #eeeeee;
}

.page-id-2315 .cert-image img,
.search .cert-image img {
	width: 100%;
	height: auto;
	margin-top: 0;
	background-color: #eeeeee;
}

.page-id-2315 .cert-content h3 {
	margin-top: 1em;
}

.page-id-2315 .cert-content p {
	padding-top: 15px;
}

.page-id-2315 .certificates-container .certificate {
	min-height: 600px;
}

.certificates-container .certificate.final {
	background-color: #000c3b;
}

.certificate.final h3,
.certificate.final p {
	color: #fff;
	text-transform: none;
}

.certificate.final h3 {
	font-size: 2.5em;
	padding-top: 60px;
	padding-bottom: 20px;
}

.certificate.final p {
	font-size: 1.5em;
	margin: 0 auto;
	max-width: 80%;
}

.global-footprint {
	background-image: url('/wp-content/themes/AGM/img/global-footprint-background.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.global-container {
	text-align: center;
}

.global-container .line::after {
	transform: translatex(150px);
}

.global-container h2 {
	color: #fff;
	margin: 0;
	padding-top: 60px;
	padding-bottom: 10px;
}

.global-container p {
	color: #fff;
	max-width: 640px;
	margin: 0 auto;
	padding: 20px;
}

.global-footprint img {
	display: block;
	margin: 0 auto;
}

.page-id-2315 .locations-container h2::before {
	top: -80px;
}

.originativity-container {
	background-color: #fff;
	text-align: center;
	position: relative;
}

.originativity-container img {
	height: 30px;
	margin-top: 75px;
}

.originativity-container p {
	color: #000c3b;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	padding-top: 10px;
}

.originativity-container span {
	text-align: center;
	color: #3a7b89;
	font-size: 0.875em;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 auto;
}

.originativity-container li {
	background-image: none;
	display: inline-block;
	height: 170px;
	width: 25%;
	background-color: #f6f6f6;
	color: #000c3b;
	font-size: 1.75em;
	padding: 20px;
	margin: 0px 20px 50px 20px;
}

/* PRODUCTS PAGE */
.page-id-1617 .page-contents p {
	max-width: 700px;
	margin: 0 auto;
	color: #000c3b;
	margin-top: 30px;
	padding-bottom: 20px;
}

.page-id-1617 .page-contents {
	background-color: #fff;
	width: 100%;
}

.page-id-1617 .page-contents h2 {
	margin: 0;
	padding-top: 50px;
}

.page-id-1617 .featured-products {
	background-color: #ffffff;
	padding-bottom: 0;
	position: relative;
}

.page-id-1617 .featured-products li {
	background-image: url('/wp-content/themes/AGM/img/white-bullet.png');
	display: inline;
}

.page-id-1617 .featured-products .product-categories li {
	color: #000c3b;
	background-color: #f6f6f6;
	font-size: 1.75em;
	padding-left: 0;
	padding: 5px 20px;
	margin: 20px;
	display: inline-block;
	min-width: 410px;
}

.page-id-1617 .featured-products .product-categories li img {
	height: 70px;
	width: auto;
	vertical-align: middle;
}

.page-id-1617 .featured-products .product-categories li img#durmont-logo {
	height: 39px;
	margin-right: 10px;
}

ul.max-width.product-categories li {
	background-image: none;
}

.page-id-1617 .featured-products .product-categories li.active,
.page-id-1617 .featured-products .product-categories li:hover {
	color: #0fc396;
	background-color: #000c3b;
	cursor: pointer;

}

section.search-feed.max-width.certificates-container {
	margin-top: 50px;
}

.page-id-1617 .featured-products .electronics-products,
.page-id-1617 .featured-products .carpeting-products {
	display: none;
	margin-top: 40px
}

.page-id-1617 .featured-products .electronics-products.selected,
.page-id-1617 .featured-products .carpeting-products.selected {
	display: block;
}

.page-id-1617 .featured-products .electronics-products li {
	text-transform: uppercase;
	font-size: 0.875em;
	color: #3a7b89;
	padding-bottom: 10px;
	padding-left: 0;
	margin: 0 10px;
	letter-spacing: 1px;
}

.page-id-1617 .featured-products .electronics-products li.active {
	border-bottom: 3px #24bb8c solid;
}

.page-id-1617 .featured-products .electronics-products li:hover {
	color: #24bb8c;
	border-bottom: 3px #24bb8c solid;
	cursor: pointer;
}

.products-display {
	background-color: #f6f6f6;
	padding-bottom: 75px;
	margin-top: 50px;
}

.products-display div.max-width {}

.products-display h2.door-lighting,
.products-display h2.trunk-cargo,
.products-display h2.overhead-systems,
.products-display h2.instrument-panels,
.products-display h2.compartment-lighting,
.products-display h2.exterior-lighting,
.products-display h2.carpeting {
	margin: 0;
	padding: 25px 0;
}

.products-display p.door-lighting,
.products-display p.trunk-cargo,
.products-display p.overhead-systems,
.products-display p.instrument-panels,
.products-display p.compartment-lighting,
.products-display p.exterior-lighting,
.products-display p.carpeting {
	color: #3a7b89;
	font-size: 1.25em;
}

.products-display .door-lighting,
.products-display .trunk-cargo,
.products-display .overhead-systems,
.products-display .instrument-panels,
.products-display .exterior-lighting,
.products-display .carpeting {
	display: none;
}

.products-display .door-lighting.active,
.products-display .trunk-cargo.active,
.products-display .overhead-systems.active,
.products-display .instrument-panels.active,
.products-display .exterior-lighting.active,
.products-display .carpeting.active {
	display: block;
}

.page-id-1617 .locations-container.products-content-display {
	display: none;
}

.page-id-1617 .locations-container.products-content-display.active {
	display: block;
	position: relative;
}

.single-product-content {
	display: none !important;
	position: relative;
}

.single-product-content.selected {
	display: block !important;
	width: 100% !important;
}

.single-product-content.selected::before {
	content: '';
	background-image: url('../img/locations-triangle.png');
	background-repeat: no-repeat;
	height: 31px;
	width: 43px;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -21.5px;
}

.product-slider .slick-track {
	width: 100% !important;
}

.single-product-content img {
	padding: 50px 0;
}

.single-product-content div.one-half p {
	color: #ffffff;
	padding: 0 50px;
}

.single-product-content div.one-half #close-product {
	font-size: 0.875em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 50px 50px 25px 50px;
	margin: 0;
	color: #ffffff;
	display: block;
	text-decoration: none;
}

.single-product-content div.one-half #close-product span {
	border: 2px solid #fff;
	padding: 4px 16px;
}

.single-product-content div.one-half #close-product span:hover {
	border-color: #0da981;
	background-color: #0da981;
}

.single-product-content div.one-half {
	text-align: left;
	padding-bottom: 30px;
}

.single-product-content div.one-half h1 {
	font-size: 2.5em;
	padding: 0 50px;
	margin: 0;
}

.single-product-content div.one-half ul {
	padding: 0 50px;
	list-style-type: disc;
}

.single-product-content div.one-half ul li {
	display: block;
	color: #fff;
}

/* ANCHOR NAVIGATION */
.navigation-container {
	position: relative;
	text-align: center;
	height: 80px;
	background-color: #fff;
}

.anchor-navigation {
	position: relative;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

.anchor-navigation li {
	background-image: none;
	display: inline-block;
	width: 25%;
}

.anchor-navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #3a7b89;
	font-size: 0.875em;
	letter-spacing: 1px;
	padding-bottom: 15px;
}

.anchor-navigation li a:hover {
	color: #24bb8c;
	border-bottom: 3px solid #24bb8c;
}

/*ENGINEERING PAGE*/
.page-id-28 .anchor-navigation li {
	width: auto;
	padding: 0 9%;
}

.page-id-28 .page-contents {
	background-color: #ffffff;
}

.page-id-28 .page-contents h3.max-width {
	max-width: 650px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.page-id-28 .page-contents p {
	max-width: 650px;
	text-align: left;
	color: #000c3b;
	padding-top: 20px;
	margin: 0 auto;
}

.page-id-28 .benefits-container h2 {
	padding-top: 60px;
}

.page-id-28 .benefits li {
	height: 170px;
	max-width: none;
	width: 20%;
	margin-top: 70px;
	position: relative;
	padding-top: 65px;
}

.page-id-28 .benefits li:nth-of-type(4) {
	border-right: none;
}

.page-id-28 .benefits li img {
	position: absolute;
	height: auto;
	width: 55px;
	margin: 0 auto;
	display: block;
	top: -5px;
	left: 50%;
	margin-left: -27px;
}

.page-id-28 .benefits li p {
	margin: 0 auto;
}

.page-id-28 .page-card.one-fourth {
	position: relative;
	background-color: none;
	margin: 0;
}

.page-id-28 .page-cards-container h3 {
	position: relative;
	margin: 0;
	height: 40px;
}

.page-id-28 .page-cards-container {}

.design-container,
.design-dev-section1,
.design-dev-section2,
.design-dev-section3 {
	display: flex;
	flex-wrap: wrap;
}

.design-dev-section1,
.design-dev-section2,
.design-dev-section3 {
	margin-top: 30px !important;
}

.design-dev-section1.one-fourth,
.design-dev-section2.one-fourth,
.design-dev-section3.one-fourth {
	width: 23%;
	margin: 0 1%;
	float: none;
}

.design-dev-section1.one-fourth .page-card,
.design-dev-section2.one-fourth .page-card,
.design-dev-section3.one-fourth .page-card {
	width: 100%;
}

.design-dev-section1.one-half,
.design-dev-section2.one-half,
.design-dev-section3.one-half {
	width: 48%;
	margin: 0 1%;
	float: none;
}

.design-dev-section1.one-half .page-card,
.design-dev-section2.one-half .page-card,
.design-dev-section3.one-half .page-card {
	width: 50%;
}

.design-dev-section1.three-fourth,
.design-dev-section2.three-fourth,
.design-dev-section3.three-fourth {
	width: 73%;
	margin: 0 1%;
	float: none;
}

.design-dev-section1.three-fourth .page-card,
.design-dev-section2.three-fourth .page-card,
.design-dev-section3.three-fourth .page-card {
	width: 33%;
}

.design-dev-section1.full-width .page-card,
.design-dev-section2.full-width .page-card,
.design-dev-section3.full-width .page-card {
	width: 25%;
}

.content-section1,
.content-section2,
.content-section3 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	height: calc(100% - 40px);
}

.content-section1 .page-card,
.content-section2 .page-card,
.content-section3 .page-card {
	margin-bottom: 0;

}

.content-section3 .page-card:last-of-type {}

.page-id-28 .page-card-content ul li {
	padding: 5px 38px;
}

/*CAPABILITIES PAGE*/

.page-id-20 .anchor-navigation li {
	width: auto;
	padding: 0 9%;
}

.page-id-20 .page-contents {
	background-color: #ffffff;
}

.page-id-20 .page-contents h2.max-width {
	max-width: 650px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.page-id-20 .page-contents h3.max-width {
	text-align: left;
	padding-top: 25px;
	max-width: 650px;
}

.page-id-20 .page-contents p {
	max-width: 650px;
	text-align: left;
	color: #000c3b;
	padding-top: 20px;
	margin: 0 auto;
}

.page-id-20 .benefits-container h2 {
	padding-top: 35px;
}

.page-id-20 .benefits-container .benefits {
	margin: 0 auto;
}

.page-id-20 .benefits li {
	height: 140px;
	padding-top: 75px;
	max-width: none;
	width: 32%;
	margin-bottom: 25px;
	position: relative;
	margin-top: 50px;
}

.page-id-20 .benefits li:nth-of-type(3) {
	border-right: none;
}

.page-id-20 .benefits li p {
	margin: 0 auto;
}

.page-id-20 .benefits li a {
	color: #fff;
	text-decoration: none;
}

.page-id-20 .benefits .single-benefit.active a {
	color: #0fc396;
}

.page-id-20 .benefits .single-benefit:hover a {
	color: #0fc396;
	cursor: pointer;
}

.page-id-20 .benefits li img {
	position: absolute;
	width: 60px;
	top: -40px;
	left: 50%;
	margin-left: -30px;
}

.page-id-20 .page-cards-container .page-card.active {
	width: 100%;
	order: 1;
}

.page-id-20 .page-cards-container .page-card .page-card-img {
	min-height: 450px;
}

.page-id-20 .page-cards-container .page-card.active .page-card-img {
	min-height: 0;
}

.page-id-20 .page-card-img img {
	margin: 37px;
	width: 100px;
	background-color: #f8f8f8;
	border-radius: 44%;
	padding: 28px;
}

.page-id-20 .page-card-img h2 {
	margin: 0 37px;
}

.page-id-20 .page-card-content p,
.page-id-20 .page-card-content.selected .card-expand,
.page-id-20 .page-card-content ul {
	display: none;
}

.page-id-20 .page-card-content.selected p,
.page-id-20 .page-card-content .card-expand,
.page-id-20 .page-card-content.selected ul {
	display: block;
}

.page-id-20 .page-card-content ul li {
	list-style: circle;
	padding: 0;
}

.page-id-20 .page-card-content.plastic p:first-of-type {
	padding-bottom: 0;
}

.page-id-20 .page-card-content.plastic p:nth-of-type(2) {
	padding-top: 0;
}

.page-id-20 .page-cards-container {
	margin-bottom: 0;
	padding-bottom: 75px;
}

.page-id-20 .card-expand {
	margin: 0 0 20px 25px;
}

.page-id-20 .page-card {
	display: none;
}

.page-id-20 .page-card.active {
	display: block;
}

.page-id-20 .page-card {
	position: relative;
}

.page-id-20 .page-card .capabilities-link {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background-image: url(../img/next-arrow.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
}

.page-id-20 .page-card .capabilities-link:hover {
	bottom: 14px;
}

/*PAGE CARDS*/
.page-cards-container {
	display: flex;
	flex-wrap: wrap;
	margin: 50px auto 75px auto;
	position: relative;
}

.page-card-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

.page-card-img h2 {
	margin: 50px 100px 40px 40px;
	color: #0fc396;
	font-size: 1.625em;
}

.page-card {
	background: #fff;
	margin-bottom: 20px;
	order: 2;
}

.page-card-content p {
	padding: 20px 38px;
	color: #3a7b89;
	font-size: 1.25em;
}

.page-card-content ul li {
	background-image: none;
	padding: 20px 38px;
	color: #3a7b89;
	font-size: 1.25em;
}

.page-id-1615 .page-card-content ul li {
	background-image: url(../img/teal-bullet.png);
	background-position: 15px 26px;
}

.page-id-2315 .locations-slider .location-slide ul li {
	color: #fff;
	background-position-y: 5px;
}

/*LEADERSHIP & TEAM*/
.leadership-container,
.team-container {
	display: flex;
	flex-wrap: wrap;
	margin: 75px auto;
}

.single-leader {
	width: 31.33%;
	margin: 10px 1%;
	text-align: center;
	padding: 20px;
}

.single-leader p {
	text-align: justify;
}

.single-team-member {
	width: 14.66%;
	margin: 10px 1%;
	text-align: center;
	padding: 20px;
}

.single-team-member img {
	width: 100%;
	height: auto;
}

.leadership-bio {
	margin: 0;
	width: 105%;
	position: absolute;
	background-color: #f6f6f6;
	left: 101%;
	z-index: 1;
	top: -3%;
	min-height: 620px;
	display: none;
}

.page-id-2315 .certificates-container .certificate:nth-child(odd).active .leadership-bio {
	display: block;
}

.page-id-2315 .certificates-container .certificate:nth-child(even).active .leadership-bio {
	display: block;
	left: auto;
	right: 101%;
}

.page-id-2315 .certificates-container .certificate.active:hover {
	transform: none;
}

.page-id-2315 .certificates-container .certificate.active .close-bio {
	display: inline-block;
}

.certificate .leadership-bio p {
	color: #000c3b;
	line-height: 24px;
	font-size: 1em;
	padding: 20px;
	text-transform: none;
	text-align: left;
	letter-spacing: 1px;
}

/* QUALITY PAGE */
.page-id-32 .page-contents h3.max-width {
	max-width: 850px;
	padding: 50px 0;
}

/*AWARD SLIDER*/
.awards-slider,
.timeline-slider {
	height: 450px;
	margin-bottom: 3%;
	margin-top: 3%;
}

.award-slide {
	padding: 10px;
	opacity: 0.5;
	min-height: 100%;
}

.award-slide.slick-active {
	opacity: 1;
}

.award-content {
	background-color: #fff;
	height: 100%;
}

.award-slide h4 {
	color: #0fc396;
	font-size: 2.5em;
	margin: 20px;
	font-weight: 400;
	padding-top: 20px;
}

.award-slide p {
	color: #3a7b89;
	font-size: 1.25em;
	margin: 20px;
	max-width: 70%;
}

.award-slide ul {
	color: #3a7b89;
	font-size: 1.25em;
	margin: 0 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

.award-slide ul li {
	background-image: url(../img/teal-bullet.png);
	background-position: 0px 10px;
	font-family: 'Montserrat', sans-serif;
	margin-top: -20px;

}

.awards-slider .slick-prev,
.timeline-slider .slick-prev {
	background-image: url(../img/previous-arrow.png);
	width: 47px;
	height: 40px;
	position: absolute;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	left: 50%;
	margin-left: -50px;
	top: -5%;
}

.awards-slider .slick-next,
.timeline-slider .slick-next {
	background-image: url(../img/next-arrow.png);
	width: 47px;
	height: 40px;
	position: absolute;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	right: 50%;
	margin-right: -50px;
	top: -5%;
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
	opacity: 1;
	border: none;
	background-color: transparent;
	overflow: hidden;
	text-indent: -500000px;
}

/*CERTIFICATIONS*/
.certificates-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 75px;
	position: relative;
}

.certificates-container h2 {
	text-align: center;
	width: 100%;
}

.certificate {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	position: relative;
}

.certificate img {
	height: 150px;
	width: auto;
	background-color: #eeeeee;
	margin-top: 20px;
}

.certificate h3 {
	margin: 0;
	width: 100%;
}

.certificate p {
	font-size: .875em;
	text-transform: uppercase;
	color: #3a7b89;
	letter-spacing: 2px;
	font-weight: 500;
}

.certificate a.primary-button {
	display: table;
	font-size: 1em;
	margin: 0 auto;
	padding: .25em 1em;
}

.certificates-container .certificate {
	width: 47%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background-color: #eeeeee;
	margin: 1%;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.08);
	border: 1px solid #979797;
	text-align: center;
}

.certificates-container .certificate:hover {
	box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.28);
	transform: scale(1.025);
}

.cert-image {
	background-color: #eeeeee;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-height: 200px;
}

.page-id-32 .cert-image {
	text-align: center;
}

.cert-content a.green-button,
.cert-content button.green-button {
	margin-top: 1em;
}

.page-id-32 .page-contents h4 {
	padding-bottom: 50px;
}

.page-id-32 .awards-slider .slick-prev,
.page-id-2315 .timeline-slider .slick-prev {
	margin-left: -55px;
	top: -10%;
}

.page-id-32 .awards-slider .slick-next,
.page-id-2315 .timeline-slider .slick-next {
	margin-right: -55px;
	top: -10%;
}

.page-id-32 .benefits-container .benefits {
	max-width: 1200px;
}

/*CONTACT FORM*/
form#gform_4 {
	max-width: 750px;
	margin: 0 auto;
}

form#gform_4 ul#input_4_5 {
	display: flex;
}

form#gform_4 #choice_4_5_3 {
	margin-top: -15px;
}

form#gform_4 li {
	display: inline-block;
	width: 50%;
}

form#gform_4 li#field_4_5 {
	width: 100%;
}

form#gform_4 label {
	font-weight: 400;
}

form#gform_4 label .gfield_required {
	color: #000c3b;
}

form#gform_4 .ginput_container input,
form#gform_4 .ginput_container_textarea textarea {
	width: 100%;
	border: none;
}

form#gform_4 .gfield_radio li {
	display: inline-block;
	max-width: 20%;
}

form#gform_4 #field_4_4 {
	display: block;
	width: 100%;
}

form#gform_4 .gform_footer {
	text-align: center;
}

form#gform_4 input#gform_submit_button_4 {
	margin: 0 auto;
	background-image: linear-gradient(to right, #0ec496 0%, #0da981 100%);
	border-radius: 100px;
	font-size: 0.875em;
	height: 49px;
	width: 226px;
	border: none;
}

form#gform_4 input[type=radio]:checked {
	background-color: #0fc396;
}

/*LOCATION CONTACTS*/
.locations-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #3a7b89;
	margin: -10px auto 50px auto;
}

.locations-container .max-width {
	width: 100%;
	text-align: center;
}

.locations-container .one-fifth {
	width: 29%;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;
	position: relative;
	text-align: left;
	min-height: 150px;
}

.locations-container .one-fifth address,
.locations-container .one-fifth a {
	margin-bottom: .25em;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	line-height: 24px;

}

.locations-container .one-fifth a {
	display: block;
}

.location-map iframe {
	width: 100%;
	height: 400px;
	margin: -50px auto 0px auto;
}

.location-map p {
	margin: 0;
}

.locations-container h2 {
	text-align: center;
	position: relative;
	color: #fff;
}

.locations-container h2::before {
	content: '';
	background-image: url('../img/locations-triangle.png');
	background-repeat: no-repeat;
	height: 31px;
	width: 43px;
	position: absolute;
	top: -85px;
	left: 50%;
	margin-left: -21.5px;
}

.locations-container h3 {
	position: relative;
	color: #fff;
	font-size: 0.875em;
	margin-bottom: 1.5em;
	text-transform: uppercase;
}

.locations-container:last-child {
	margin-bottom: 0;
}

.north-america,
.europe,
.asia {
	display: none;
}

.north-america.selected,
.europe.selected,
.asia.selected {
	display: block;
}

.location-map {
	pointer-events: none;
}

.location-map.clicked {
	pointer-events: auto;
}

/* HOME PRODUCT CATEGORIES */
/* FEATURED PRODUCTS */
.featured-products h2,
.page-contents {
	text-align: center;
	position: relative;
}

.home ul.product-categories li.active,
.anchor-navigation li.active a {
	color: #3a7b89;
	border-bottom: 3px solid #24bb8c;
}

.home ul.product-categories li:hover,
.anchor-navigation li a:hover {
	color: #24bb8c;
	border-bottom: 3px solid #24bb8c;
	cursor: pointer;
}

.home ul.product-categories {
	margin: 20px auto;
	max-width: 800px;
	text-align: center;
	display: inline;
}

.home ul.product-categories li {
	color: #3a7b89;
	background-image: none;
	display: inline-block;
	margin: 0 10px;
	padding: 10px;
	text-transform: uppercase;
}

.home ul.product-categories li,
.anchor-navigation li a {
	text-decoration: none;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.home ul.product-categories li.cat-item-21 a:first-of-type {
	display: none;
}

.home ul.product-categories li.cat-item-21 ul.children a:first-of-type {
	display: inline;
}

.featured-products {
	text-align: center;
	padding-bottom: 75px;
}

.featured-products .product-categories-mobile {
	display: none;
}

.featured-products .single-product-preview {
	width: 47%;
	display: none;
	background-color: #eeeeee;
	margin: 1%;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.08);
	border: 1px solid #979797;
	min-height: 530px;
}

.featured-products .single-product-preview.selected {
	display: inline-block;
	float: left;
}

.featured-products .single-product-preview img {
	width: 100%;
	height: 300px;
}

.featured-products .single-product-preview p {
	color: #3a7b89;
	font-size: 0.875em;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 30px;
	line-height: normal;
	margin: 0;
	font-weight: 500;
}

.featured-products .single-product-preview:hover {
	box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.28);
	transform: scale(1.025);
}

.featured-products .single-product-preview h1 {
	color: #000c3b;
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 0px;
}

a.green-button,
button.green-button {
	padding: 15px 56px 17px 55px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	background-image: linear-gradient(to right, #0ec496 0%, #0da981 100%);
	border-radius: 100px;
	font-size: 0.875em;
	border: none;
}

.ajax-load-more-wrap {
	text-align: center;
	margin: 0 auto;
}

.alm-btn-wrap {
	margin: 0 auto;
	display: block;
	clear: both;
	padding-top: 50px;
}

/*CAREERS*/
.gallery-item {
	width: 20%;
	display: inline-block;
	float: left;
}

.gallery-icon img {
	width: 100%;
	height: auto;
}

.gallery-icon img::before {
	content: "";
	background-image: url(img/search-dark.svg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
}

.gallery-icon img:hover {
	opacity: 0.75;
}

.gallery-icon img:hover::before {
	opacity: 1;
	display: block;
}

.page-cards-container .one-half .page-card-img,
.page-id-28 .page-card-img {
	min-height: 0px;
}

.page-id-1615 .page-cards-container,
.page-id-28 .page-cards-container {
	margin-bottom: 0px;
	padding-bottom: 50px;
}

.benefits-container {
	background-color: #000c3b;
	text-align: center;
	position: relative;
}

.benefits-container img {
	margin-top: 35px;
	height: 55px;
	width: auto;
}

.benefits-container h2 {
	color: #fff;
	margin-top: 0px;
}

.benefits-container .benefits {
	color: #fff;
	padding-bottom: 50px;
	margin: 0 auto;
	max-width: 90%;
}

.benefits li {
	background-image: none;
	max-width: 12%;
	padding: 30px 20px;
	font-size: 1.25em;
	border-right: 1px solid #979797;
	vertical-align: middle;
	display: table-cell;
}

.benefits .single-benefit p {
	color: #fff;
}

.benefits li:last-of-type {
	border-right: none;
}

.page-id-28 .benefits li,
.page-id-20 .benefits li {
	display: inline-block;
}

.join-team::before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.join-team h1 {
	max-width: 550px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.join-team a::after {
	display: none;
}

.join-team p:last-of-type {
	color: #ffffff;
	font-size: 0.75em;
	line-height: 15px;
	max-width: 1200px;
	padding-top: 0;
	padding-bottom: 25px;
}

/* NEWS */
.blog-feed .featured-image img {
	width: 100%;
	height: auto;
	margin-bottom: 60px;
}

.post-date {
	color: #3a7b89;
	font-size: 0.875em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.post-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.post-excerpt {
	color: #000c3b;
	line-height: 24px;
	font-size: 1em;
	margin-bottom: 50px;
}

.featured-post {
	background-color: #fff;
}

.featured-post h2 {
	margin-top: 0;
	padding-top: 1.5em;
}

.blog-feed .certificates-container {
	padding-top: 50px;
}

.blog-feed .certificates-container .certificate,
.single .certificates-container .certificate {
	min-height: 600px;
}

.blog-feed .certificate img,
.single .certificate img {
	width: 100%;
	height: auto;
	margin: 0;
	max-height: 200px;
	object-fit: cover;
	object-position: 0% 0%;
}

.blog-feed .certificate .post-date,
.single .certificate .post-date {
	text-align: left;
}

.blog-feed .certificate h3,
.single .certificate h3 {
	margin: 0;
}

.blog-feed .certificate .post-excerpt,
.single .certificate .post-excerpt {
	margin: 0;
	text-transform: none;
	font-size: 1em;
	color: #000c3b;
	margin-top: 1em;
}

.blog-post {
	margin-top: 50px;
}

.single main {
	background-color: #fff;
}

.single .blog-post .cert-image,
.search .cert-image {
	max-height: initial;
	height: auto;
	background-color: #fff;
	display: block;
}

.single .blog-post .cert-content {
	padding-top: 25px;
	position: relative;
	display: block;
}

.single .blog-post .cert-content p {
	font-size: 1em;
	color: #000c3b;
}

.blog-post img {
	max-width: 100%;
}

.lbg-style1 img {
	display: none;
}

a.lbg-style1 {
	background-image: url('../img/unliked-heart.png') !important;
	height: 18px !important;
	width: 18px !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	position: absolute;
}

a.lbg-style1:hover {
	background-image: url('../img/liked-heart.png') !important;
	height: 18px !important;
	width: 18px !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

a.lbg-style1.filled_heart.jlk {
	background-image: url('../img/liked-heart.png') !important;
	height: 18px !important;
	width: 18px !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

/* SEARCH RESULTS */
.search .certificates-container .certificate {
	width: 100%;
}

/*SOCIAL SHARING*/
.crunchify-social {
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	max-width: 800px;
	display: none;
}

.single-post .crunchify-social {
	display: block;
}

.crunchify-social h5 {
	font-size: 1.5em;
	border-bottom: 3px #3a7b89 solid;
	color: #3a7b89;
	text-transform: uppercase;
}

.crunchify-link {
	border-radius: 50%;
	height: 100px;
	margin: 20px;
	overflow: hidden;
	padding: 40px 20px;
	width: 100px;
	-webkit-transition: all .5s;
	transition: all .5s;
	text-decoration: none;
	text-align: center;
}

.crunchify-facebook,
.crunchify-twitter,
.crunchify-linkedin,
.crunchify-whatsapp,
.crunchify-googleplus,
.crunchify-buffer,
.crunchify-pinterest,
.crunchify-email {
	background-color: #3a7b89;
}

canvas {
	margin: 0 auto;
	text-align: center;
	margin: 20px;
	left: 7%;
	position: relative;
}

.page-id-2315 .locations-slider .slick-slide img {
	width: 100%;
}

.page-id-2315 .locations-slider .slick-slide .one-half {
	padding: 70px 0;
	text-align: left;
}

.page-id-2315 .locations-slider .slick-slide .one-half p {
	color: #fff;
	font-size: 1em;
	line-height: 24px;
}

.page-id-2315 .locations-slider .slick-slide .one-half p:first-of-type {
	text-transform: uppercase;
	color: #fff;
	font-size: 0.875em;
	letter-spacing: 1px;
}

.page-id-2315 .locations-slider .slick-slide .one-half h2 {
	color: #fff;
	margin: 0;
	padding-bottom: 25px;
	text-align: left;
}

.page-id-2315 .locations-container {
	margin: 0;
}

.location-slide {
	position: relative;
}

.location-slide:before {
	content: '';
	background-image: url('../img/locations-triangle.png');
	background-repeat: no-repeat;
	height: 31px;
	width: 43px;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -21.5px;
	z-index: 1;
}

.locations-slider .slick-prev {
	background-image: url(../img/previous-arrow-white.png);
	width: 47px;
	height: 40px;
	position: absolute;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	left: 51%;
	top: 80%;
}

.locations-slider .slick-next {
	background-image: url(../img/next-arrow-white.png);
	width: 47px;
	height: 40px;
	position: absolute;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	right: 43%;
	top: 80%;
}

.page-id-2337 .page-contents,
.page-id-2473 .page-contents {
	text-align: left;
	padding-top: 50px;
}

.certificate img {
	max-width: 100%;
	height: auto;
	margin-top: 0;
}

.cert-content {
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.error404 .search-submit {
	margin-top: 3%;
}

.LV_invalid_field {
	border: 2px solid red !important;
}

.LV_valid_field {
	border: 2px solid green !important;
}

/*--------------------------------RESPONSIVNESS BREAKING POINTS--*/


/*----------- SMALL DESKTOPS & LAPTOPS --*/

@media only screen and (max-width: 1200px) {

	/*NAVIGATION*/
	.primary-nav,
	.primary-nav .max-width {
		padding-left: 0;
		padding-right: 0;
	}

	.primary-nav ul li {
		padding-left: 10px;
	}

	.utility-nav .phone-link {
		left: 155px;
	}

	.utility-nav img#nav-logo {
		left: 235px;
	}

	.home ul.product-categories li,
	.anchor-navigation li a {
		margin: 0;
	}

	.page-id-2315 .anchor-navigation li {
		width: 24%;
	}

	.page-id-32 .benefits li {
		max-width: 24%;
	}

	.page-id-32 .certificate h3,
	.blog-feed .certificate h3,
	.single .certificate h3 {
		margin: 0 1em;
	}

	.page-id-1615 .benefits li {
		padding: 30px;
		max-width: 24%;
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		margin-top: 35px;
	}

	.benefits-container .benefits {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.bio-slider {
		max-width: 700px !important;
		position: relative !important;
	}

	.single-bio .bio-info {
		float: none !important;
		width: 100% !important;
	}
}


/*------------------ LANDSCAPE TABLETS --*/

@media only screen and (max-width: 1024px) {
	.main-nav nav {
		max-width: 72%;
	}

	.page-id-1615 .benefits li {
		padding: 11px;
	}

	.primary-nav ul li {
		text-align: center;
		padding-left: 0;
		width: 100%;
		padding-right: 2em;
	}

	.primary-nav a {
		height: 50px;
		padding: 0;
		text-decoration: none;
	}

	.utility-nav .social-links {
		right: 10%;
	}

	.utility-nav .social-links .facebook,
	.utility-nav .social-links .twitter,
	.utility-nav .social-links .linkedin {
		margin-right: 10px;
	}

	.utility-nav .search {
		right: -3%;
	}

	.utility-nav .phone-link {
		left: 90px;
	}

	.utility-nav img#nav-logo {
		left: 170px;
	}

	.utility-nav .country-select {
		left: 120px;
	}

	.main-nav.is_stuck .primary-nav #sticky-nav-logo {
		margin-left: 20px;
	}

	.home .page-heading h1 {
		font-size: 4em;
	}

	.home-bottom img {
		right: 225px;
	}

	.home-bottom .one-half:last-child img {
		left: 225px;
	}

	.home .page-heading .one-half::before,
	.home .page-heading .one-half::after,
	.home .page-heading .one-half:last-child::after {
		width: calc(100% - 296px);
	}

	.home .page-heading .one-half:last-child::before,
	.home .page-heading .one-half::after {
		width: 200px;
	}
}


/*------------------- PORTRAIT TABLETS --*/

@media only screen and (max-width: 800px) {

	/*--BASICS--*/
	.search-bar form input {
		width: 60%;
	}

	.bio-slider {
		max-width: 450px !important;
	}

	.single-bio .previous-next .one-half {
		display: none;
	}

	.single-bio .previous-next {
		border-top: none !important;
	}

	.single-bio .leadership-image {
		display: none;
	}

	.page-heading p {
		max-width: 450px;
	}

	.page-heading .home-bottom p {
		padding: 25px;
	}

	.utility-nav .phone-link a {
		letter-spacing: 1px;
	}

	.anchor-navigation {
		flex-wrap: wrap;
	}

	.navigation-container {
		height: 160px;
	}

	.page-id-2315 .anchor-navigation li,
	.page-id-28 .anchor-navigation li,
	.page-id-20 .anchor-navigation li {
		width: 50%;
		margin: 20px 0;
		padding: 0;
	}

	.page-id-32 .page-contents h4 {
		text-align: left;
	}

	.social-links {
		display: none;
	}

	.max-width {
		max-width: 600px;
	}

	.utility-nav .country-select a {
		display: none;
	}

	.main-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	.mobile-nav .primary-nav nav {
		display: none;
	}

	.mobile-nav .utility-nav {
		height: 34px;
		margin-top: -2px;
	}

	.mobile-nav .utility-nav #nav-logo {
		width: 106px;
		left: 0;
		padding-top: 11px;
	}

	.mobile-nav .utility-nav .social-links {
		right: 10px;
		padding-top: 6px;
	}

	.mobile-nav .utility-nav .social-links a,
	.mobile-nav .utility-nav .search #search-image {
		height: 25px;
		width: 25px;
	}

	.mobile-nav .utility-nav .search {
		right: 0;
		left: 0;
		padding-top: 6px;

	}

	.cert-image {
		height: auto;
	}

	.certificate p {
		padding-top: 20px;
	}

	.page-card {
		width: 98% !important;
	}

	.design-dev-section1,
	.design-dev-section2,
	.design-dev-section3 {
		width: 100% !important;
	}

	.mobile-nav .primary-nav #nav-logo {
		position: absolute;
		width: 100px;
		height: auto;
		left: 50%;
		margin-left: -50px;
		top: 20%;
	}

	#phone-image {}

	.home .page-heading .one-half:last-child {
		border-left: none;
		border-right: none;
	}

	.mobile-phone-link {
		border-right: 1px solid #d8d8d8;
		padding: 0 25px;
		color: #fff;
		letter-spacing: 1px;
		position: relative;
		top: -34%;
		height: 70px;
		left: 10%;
		right: 0;
		margin: 0;
		overflow: hidden;
		float: left;
	}

	.mobile-menu-link {
		border-left: 1px solid #d8d8d8;
		padding: 0 25px;
		color: #fff;
		font-size: 0.875em;
		letter-spacing: 1px;
		position: relative;
		top: -34%;
		height: 70px;
		left: 5%;
		right: 0;
		margin: 0;
		overflow: hidden;
		float: right;
	}

	.mobile-menu-link #menu-icon {
		display: block;
		position: relative;
		left: 10%;
		margin-bottom: 30%;
		top: 25%;
	}

	.mobile-phone-link #phone-image {
		display: block;
		position: relative;
		left: 20%;
		margin-bottom: -30%;
		margin-top: 40%;
	}

	.mobile-nav .primary-nav nav.show {
		display: block;
		position: absolute;
		z-index: 100;
		width: 100%;
		background-image: url(../img/mobile-nav-background.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center -300px;
	}

	.mobile-nav .primary-nav nav.show li {
		display: block;
		width: 100%;
	}

	.mobile-nav .primary-nav nav.show li a {
		border: none;
		height: auto;
		letter-spacing: 2px;
		font-size: 1em;
		margin: 30px auto;
	}

	#close-nav {
		height: 60px;
		width: auto;
		margin: 30px auto;
		display: block;
	}

	.page-heading h1 {
		max-width: 600px;
	}

	.one-half {
		width: 100%;
	}

	.primary-nav,
	.primary-nav .max-width {
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	footer {
		height: auto;
	}

	.footer-logo img {
		margin-top: 35px;
	}

	footer nav {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	footer nav li {
		width: 100%;
		padding: 0;
	}

	footer .footer-social {
		max-width: 100%;
		text-align: center;
		position: relative;
		display: block;
		clear: both;
	}

	#facebook-footer {
		padding-left: 0;
		padding-right: 6px;
	}

	#twitter-footer {
		padding-right: 8px;
	}

	#linkedin-footer {
		padding-right: 10px;
	}

	footer .footer-social li {
		margin-top: 25px;
	}

	footer nav a {
		letter-spacing: 2px;
		line-height: 32px;
	}

	footer#footer #created-e5 {
		float: none;
	}

	.page-bottom {
		text-align: center;
	}

	footer#footer #copyright {
		max-width: 340px;
		text-align: center;
		margin: 0 auto;
		float: none;
	}

	#globe {
		height: 300px !important;
		width: 300px !important;
	}

	/*--PAGE TEMPLATES--*/
	.home .page-heading .one-half {
		border-right: none;
		border-left: none;
		width: 100%;
		text-align: center;
	}

	.home-bottom-left,
	.home-bottom-right {
		float: none;
	}

	.home-bottom img,
	.home-bottom .one-half:last-child img {
		left: auto;
		right: 50%;
		margin-right: -25px;
	}

	.page-heading a::after {
		top: 125%;
	}

	.home .page-heading .one-half:last-child::before,
	.home .page-heading .one-half::after,
	.home .page-heading .one-half::before,
	.home .page-heading .one-half::after,
	.home .page-heading .one-half:last-child::after {
		width: calc(100% - 60%);
	}

	.featured-products .single-product-preview.selected,
	.originativity-container li,
	.certificates-container .certificate,
	.page-id-1617 .featured-products .product-categories li {
		width: 100%;
	}

	.page-id-1617 .featured-products .product-categories li {
		display: block;
		padding: 0;
		margin: 0 auto;
	}

	.page-id-1617 .featured-products .product-categories li.carpeting {
		margin-top: 20px;
	}

	.one-third {
		width: 100%;
	}

	.page-id-28 .benefits li,
	.page-id-20 .benefits li,
	.page-id-32 .benefits li {
		width: 50%;
		max-width: 50%;
	}

	.page-id-28 .benefits li:nth-of-type(even) {
		border-right: none;
	}

	.featured-post-content a.green-button {
		position: relative;
		left: 50%;
		margin-left: -115px;
		top: -30px;
	}

	.featured-post-content .post-excerpt {
		margin-bottom: 0;
		padding-bottom: 75px;
	}

	/*--PAGE SPECIFIC--*/
	.page-id-1615 .benefits li {
		max-width: 25%;
	}

	.page-id-1615 .benefits li:nth-of-type(4) {
		border-right: none;
	}

	form#gform_4 .gfield_radio li {
		width: 100%;
	}

	form#gform_4 li#field_4_5 {
		width: 100%;
		position: relative;
	}

	.home ul.product-categories,
	.page-id-1617 ul.max-width.electronics-products,
	.page-id-1617 ul.max-width.carpeting-products {
		/*      display: none !important;
*/
	}

	.page-id-1617 .featured-products .electronics-products li.active {
		/*      border-bottom: none;
*/
	}

	.page-id-1617 .featured-products .electronics-products li {
		display: inline-block;
		padding-bottom: 10px;
		letter-spacing: 2px;
		margin-bottom: 15px;
	}

	.featured-products .product-categories-mobile {
		display: block;
		background-color: #fff;
	}

	.featured-products .product-categories-mobile li {
		max-height: 0;
		display: none;
	}

	.featured-products .product-categories-mobile li.show,
	.featured-products .product-categories-mobile li.active {
		max-height: 50px;
		background-image: none;
		text-align: left;
		text-transform: uppercase;
		color: #3a7b89;
		padding: 15px;
		background-color: #fff;
		letter-spacing: 1.4px;
		position: relative;
		display: block;
	}

	.featured-products .product-categories-mobile li.active::after {
		content: '';
		background-image: url('../img/next-arrow.svg');
		width: 25px;
		height: 14px;
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		top: 1.1em;
		right: 10%;
	}

	.locations-slider .slick-next {
		right: 50%;
		margin-right: -60px;
		height: 60px;
		width: 60px;
		top: 90%;
	}

	.locations-slider .slick-prev {
		left: 50%;
		margin-left: -60px;
		height: 60px;
		width: 60px;
		top: 90%;
	}

	.originativity-container li {
		padding: 55px;
	}

	#gallery-2 {
		display: flex;
		flex-wrap: wrap;
	}

	#gallery-2 .gallery-item {
		float: none !important;
		width: 30% !important;
		margin: 0 auto !important;
		margin-top: 10px !important;
	}

	.anchor-navigation li {
		width: 33%;
		padding: 0 0 0 10px;
	}

	form#gform_4 li {
		width: 100%;
	}

	.locations-container .one-fifth {
		width: 45%;
	}

	form#gform_4 .gfield_radio li {
		width: 100%;
		max-width: 100%;
	}

	form#gform_4 #choice_4_5_3 {
		margin-top: 0;
	}

	form#gform_4 ul#input_4_5 {
		flex-wrap: wrap;
	}

	.page-id-1617 .page-contents p {
		max-width: 500px;
	}

	#close-product {
		text-align: left !important;
	}

	.featured-products .single-product-preview h1 {
		margin-bottom: 25px;
	}

	.awards-slider,
	.timeline-slider {
		height: auto;
		margin-bottom: 0;
	}

	.locations-slider .location-slide .prev_row_location,
	.locations-slider .location-slide .next_row_location {
		display: none;
	}

	.page-id-2315 .locations-slider .slick-slide .one-half h2 {
		font-size: 1.5em;
	}

	.page-id-2315 .locations-container h2::before {
		display: none;
	}

	.award-slide ul li,
	.award-slide p {
		font-size: 16px;
	}

	.featured-products .single-product-preview img {
		height: auto;
	}

	.page-id-20 .page-contents p {
		max-width: 450px;
	}
}


/*------------------- LANDSCAPE PHONES --*/

@media only screen and (max-width: 768px) {

	/*--PAGE TEMPLATES--*/
	/*--PAGE SPECIFIC--*/
	.page-id-1615 .benefits li {
		max-width: 40%;
	}

}


/*-------------------- PORTRAIT PHONES --*/

@media only screen and (max-width: 500px) {
	.page-heading p {
		max-width: 300px;
	}

	.featured-post-content a.green-button {
		margin-left: -94px;
	}

	.bio-slider {
		max-width: 300px !important;
	}

	.blog-feed .certificates-container .certificate,
	.single .certificates-container .certificate {}

	.page-id-32 .certificate h3,
	.blog-feed .certificate h3,
	.single .certificate h3 {
		font-size: 1em;
	}

	.page-id-20 .page-contents p {
		max-width: 300px;
	}

	.featured-products .single-product-preview {
		min-height: 460px;
	}

	.page-id-28 .benefits li,
	.page-id-20 .benefits li,
	.page-id-32 .benefits li,
	.page-id-1615 .benefits li {
		width: 100%;
		border-right: none;
		margin-top: 25px;
		max-width: 100%;
	}

	.anchor-navigation li {
		width: 100%;
		margin-bottom: 20px;
	}

	.locations-container .one-fifth {
		width: 100%;
	}

	.home .page-heading h1 {
		font-size: 2em;
	}

	.page-heading h1 {
		max-width: 350px;
		font-size: 3em;
	}

	.max-width {
		max-width: 350px;
		width: 100%;
	}

	.mobile-nav .primary-nav nav.show {
		background-position: center 19%;
	}

	#close-nav {
		margin: 0 auto;
	}

	.navigation-container {
		height: 300px;
	}

	.page-id-2315 .anchor-navigation li,
	.page-id-28 .anchor-navigation li,
	.page-id-20 .anchor-navigation li {
		width: 100%;
	}

	canvas {
		left: 20px;
	}

	.originativity-container li {
		padding: 30px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.page-id-2315 .cert-content p {
		padding: 25px;
	}

	.page-id-2315 .certificates-container .certificate {
		min-height: 530px;
		margin-bottom: 20px;
	}

	.certificate.final h3 {
		font-size: 1.5em;
		margin: 10%;
	}

	.page-id-1617 .featured-products .product-categories li {
		min-width: 320px;
		font-size: 1.25em;
	}

	.page-id-28 .page-contents h3.max-width {
		padding-top: 0;
	}

	.page-id-28 .page-contents p,
	.page-id-28 .page-contents h3.max-width {
		max-width: 300px;
	}

	.content-section1,
	.content-section2,
	.content-section3 {
		height: 90%;
		padding-top: 1%;
	}

	.design-dev-section3 {
		margin-top: 15%;
	}

	.page-id-1617 .page-contents h2 {
		font-size: 2em;
	}

	.page-id-1617 .page-contents p {
		max-width: 300px;
	}

	.awards-slider,
	.timeline-slider {
		margin-top: 20%;
	}

	.page-id-2315 .locations-slider {
		margin-top: -50px;
	}

	.bio-slider {
		max-width: 300px;
	}

	.mobile-phone-link {
		left: 3%;
	}

	.mobile-menu-link {
		left: 10%;
	}
}
}