@media only screen and (max-width:800px){.home .page-heading .video-wrap video{display:none;}
.home .page-heading h1{margin-top:40px;}
}
.page-id-2315 .locations-slider{padding-bottom:25px;}
.locations-slider .slick-prev{left:50%;margin-left:-600px;max-width:500px;width:50%;background-position:left center;top:auto;bottom:16px;}
.locations-slider .slick-next{right:50%;margin-right:-600px;max-width:500px;width:50%;background-position:right center;top:auto;bottom:16px;}
.page-id-2315 .locations-slider .location-slide{padding:70px 0 100px 0;}
.page-id-2315 .locations-slider .location-slide .one-half{padding:0;}
.locations-slider .location-slide .location-img{width:calc(100% - 20px);height:250px;background-size:cover;margin:0 auto;background-position:center center;}
.locations-slider .location-slide .prev_row_location{position:absolute;left:50%;margin-left:-550px;color:#fff;text-transform:uppercase;letter-spacing:1px;font-family:'Montserrat', sans-serif;bottom:0;}
.locations-slider .location-slide .next_row_location{position:absolute;right:50%;margin-right:-550px;color:#fff;text-transform:uppercase;letter-spacing:1px;font-family:'Montserrat', sans-serif;bottom:0;}
@media only screen and (max-width:1200px){.locations-slider .slick-prev{left:10px;margin-left:0;}
.locations-slider .slick-next{right:10px;margin-right:0;}
.locations-slider .location-slide .prev_row_location{left:0;margin-left:0;}
.locations-slider .location-slide .next_row_location{right:0;margin-right:0;}
}
.staff-loop-container button.alm-load-more-btn.done{opacity:0;}
.bios .slick-track{width:100% !important;transform:none !important;}
.bios .slick-list{padding:0 !important;}
.leadership-preview{min-height:0 !important;cursor:pointer;width:48% !important;margin:8px 1% !important;}
.leadership-preview .leadership-image{height:300px;background-position:center center;background-size:cover;}
.leadership-preview .cert-content{padding:10px;}
.leadership-preview .cert-content h3{margin:0;}
.leadership-preview .cert-content p{min-height:60px;}
.leadership-preview .cert-content .open-bio{position:initial;margin:35px auto 25px auto;display:table;}
.join-staff{background-color:#000c3b;width:98%;margin:0 auto;min-height:0;text-align:center;padding:50px 25px;}
.join-staff h3{color:#fff;margin:0 0 16px 0;}
.join-staff p{color:#fff;margin:0;}
.join-staff a.glow{margin:45px auto 0 auto;}
.bio-overlay-slider{position:fixed;top:0;left:0;right:0;height:0;overflow:hidden;background:rgba(0,0,0,.5);z-index:10000;}
.bio-overlay-slider.open{height:100%;}
.bio-overlay-slider .vertical-align-parent{height:100%;width:100%;}
.slick-slide:focus{outline:none;}
.bio-slider{max-width:1200px;margin:0 auto;border:1px solid #979797;background-color:#ededed;padding:16px 40px;}
.single-bio{position:relative;padding-bottom:75px;}
.single-bio .overlay-close{padding:0 0 16px 0;border-bottom:2px solid #979797;margin-bottom:25px;cursor:pointer;}
.single-bio .overlay-close span{background-image:url(../img/previous-arrow.png);background-size:contain;background-position:center left;background-repeat:no-repeat;display:inline-block;height:30px;width:30px;vertical-align:middle;}
.single-bio .leadership-image{width:275px;height:350px;float:left;background-size:cover;background-position:center center;margin:0 40px 16px 0;}
.single-bio .bio-info{width:calc(100% - 315px);float:left;}
.single-bio .bio-info h3{margin-top:0;}
.single-bio .previous-next{border-top:2px solid #979797;position:absolute;bottom:0;width:100%;padding-top:16px;}
.single-bio .previous-next .one-half{min-height:40px;line-height:40px;}
.single-bio .previous-next .one-half:first-child{text-align:left;padding-left:35px;}
.single-bio .previous-next .one-half:last-child{text-align:right;padding-right:35px;}
.bio-slider .slick-prev{background-image:url(../img/previous-arrow.png);height:40px;position:absolute;background-size:contain;background-position:center center;background-repeat:no-repeat;left:40px;max-width:500px;width:50%;background-position:left center;bottom:16px;top:auto;}
.bio-slider .slick-next{background-image:url(../img/next-arrow.png);height:40px;position:absolute;background-size:contain;background-position:center center;background-repeat:no-repeat;right:40px;max-width:500px;width:50%;background-position:right center;bottom:16px;top:auto;}
@media only screen and (max-width:800px){.leadership-preview{width:98% !important;}
}
.product-info-container{position:relative;}
.page-id-1617 .locations-container.products-content-display{display:flex;}
.typeface-option{display:table-cell;vertical-align:middle;}
.home .page-heading .video-wrap video{height:auto;min-height:100%;min-width:100%;width:auto;}
@media only screen and (max-width:1500px){.home .page-heading .video-wrap video{position:absolute;left:50%;margin-left:-960px;}
}
.home .page-heading{animation:animatedHomeBackground 18s linear infinite;}
@keyframes animatedHomeBackground{0%{background-position:center left;}
50%{background-position:center right;}
100%{background-position:center left;}
}